body {
  font-family: Helvetica;
}

.top_section, .midsection, .bottom_section {
  text-align: center;
}

.top_section, .NY {
  background-image: url(../images/the-flatiron-building.png);
}

h1 {
  font-size: 70px;
  font-weight: bold;

}

h1, .NY, .footer, .top_link {
  color: white;
}

.top_link {
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

.processes{
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.NY {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer {
  font-size: 11px;
  background-color: dimgray
}
